<div class="nav-modules">
    <ul>
        <li>
            <a href="{{ site.baseurl }}">Bellows</a>
            <ul>
                <li><a href="{{ site.baseurl }}examples/">Examples</a></li>
                <!-- Temporarily commented out
                <li><a href="{{ site.baseurl }}accordion/#usage">Usage</a></li>
                <li><a href="{{ site.baseurl }}accordion/#markup">Markup</a></li>
                <li><a href="{{ site.baseurl }}accordion/#methods">Methods</a></li>
                <li><a href="{{ site.baseurl }}accordion/#browser-compatibility">Browser Compatibility</a></li>
                -->
            </ul>
        </li>
    </ul>
</div>
