<div class="nav-modules">
    <ul>
        <li>
            <a href="{{ site.baseurl }}">Magnifik</a>
            <ul>
                <li><a href="{{ site.baseurl }}#usage">Usage</a></li>
                <li><a href="{{ site.baseurl }}#methods">Methods</a></li>
                <li><a href="{{ site.baseurl }}#configuration">Configuration</a></li>
                <li><a href="{{ site.baseurl }}#default-styles">Default Styles</a></li>
                <li><a href="{{ site.baseurl }}#events">Classes</a></li>
                <li><a href="{{ site.baseurl }}#events">Events</a></li>
                <li><a href="{{ site.baseurl }}examples/">Examples</a></li>
            </ul>
        </li>
    </ul>
</div>
